*{
    color: white;
    text-align: center;
}

footer{
    background-image: url(../img/carousel1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#quienes-somos, #destacados, #contacto{
    background-color: black;
}

.card{
    background-color: transparent;
}