*{
    color: white;
    text-align: center;
    font-family: Raleway;
    font-weight: 400;
}

footer{
    background-color: var(--bs-info);
}

#quienes-somos, #destacados, #contacto{
    background-color: black;
}

.card{
    background-color: transparent;
}